<label style="margin-top: 30px; margin-left: 10px">
    Select Bus Routes
    <select (change) = "onBusChange($event)" style="width: 70%; background-color: white; height: 28px; margin-bottom: 7px; border: 3px solid #eaedf0; border-radius: 3px; color: black">
        <option value=-1>Select</option>
        <option *ngFor="let bus of buses" [value]="bus.id">{{ bus.busNumber }}</option>
    </select>
</label>

<div class="container">
    <div class="seat">
        <h3>Selected Seats</h3> <br>
        <div class="detailseat">
            <bbts-seat-list></bbts-seat-list>
        </div>
    </div>
    <br>
    <div class="checkout">
        Total: <b>$<span id="total">{{(price|async).totalPrice}} VND</span></b> <br>
        <a class="btn btn-info btn-nm" (click)="onBookButtonClick()">
            <span class="glyphicon glyphicon-ok"></span> Ok
        </a>
    </div>

    <div class="detail">
        <ul class="seatCharts-legendList">
            <li class="seatCharts-legendItem">
                <div class="seatCharts-seat seatCharts-cell available first-class"></div>
                <span class="seatCharts-legendDescription">First Class</span>
            </li>
            <li class="seatCharts-legendItem">
                <div class="seatCharts-seat seatCharts-cell unavailable first-class"></div>
                <span class="seatCharts-legendDescription">Already Booked</span>
            </li>
        </ul>
    </div>
</div>