<!DOCTYPE html>
<html>

<body>
  <h2>User's Information</h2>

<div class="col-sm-4"></div>

<div class="col-sm-8">
  <table class="middle">
    <tr> 
      <td> ID:</td>
      <td><input type="text" class="info" id="username" /></td>
    </tr>
    <tr>
      <td>User Name:</td>
      <td><input type="password" class="info" /></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><input type="text" class="info" /></td>
    </tr>
    <tr>
      <td>Password:</td>
       <td><input type="text" class="info" /></td>
    </tr>
    <tr>
      <td>Confirm Password:</td>
      <td><input type="text" class="info" /></td>
    </tr>
    <tr>
        <td>Role:</td>
        <td>
            <select #to>
              <option value="">---Please select---</option> 
              <option >{{ to.to }}</option >
            </select>
          </td>
      </tr>
    <tr>
      <td>Age:</td>
      <td><input type="text" class="info" /></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="text" class="info" /></td>
    </tr>
    <tr>
      <td>Phone:</td>
      <td><input type="text" class="info" /></td>
    </tr>
  

    <br>
    <tr class="save">
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-floppy-disk"></span> Save
      </a>    
    </tr>
  </table>
  
</div>

<div class="col-sm-4"></div>

</body>
</html>



