<h1 class="title-pen"><span>User Profile </span></h1>
<div class="user-profile">
    <img class="avatar" src="https://kooledge.com/assets/default_medium_avatar-57d58da4fc778fbd688dcbc4cbc47e14ac79839a9801187e42a796cbd6569847.png"
        alt="Ash" />
    <div class="username">User Account<br>{{_username}}<br></div>

    <div class="description" type="password">
        as {{_role}}
    </div>
    <div class="description" type="password">
        Password:<br>{{_password}}
    </div>
    <div class="description">
        Full name:<br>{{_name}}
    </div>
    <div class="description">
        Email Address:<br>{{_email}}
    </div>
    <div class="description" ng-pattern="/^[0-9]{1,7}$/">
        Phone Number:<br>{{_phone}}
    </div>
    <div class="description">
        Age:<br>{{_age}}
    </div>
</div>