<bbts-header 
    routerLink_login = "/login" 
    routerLink_register= "/register"

    routerLink_booking = "/customer/booking"
    routerLink_history = "/customer/history"
    routerLink_home = "/customer/home"
    routerLink_edit = "/customer/edit"

    routerLink_admin_view = "/admin/view"
    routerLink_admin_create = "/admin/create"
    routerLink_admin_home = "/admin/home"
    
    routerLink_seller_home = "/seller/home"
    routerLink_seller_ticket = "/seller/view"
    routerLink_seller_update_ticket = "/seller/update">
</bbts-header>

<router-outlet></router-outlet>
<!-- <bbts-footer></bbts-footer> -->