.field{
    padding-left: 30%;
    padding-right: 30%;    
}

input{
    color: black;
}

.container{
    margin-top: 5%;
}

.center{
    margin-top: 2%;
    align-items: center;
    position: relative;    
}